#chart{
	width: 97%; 
	margin-left: auto;
	margin-right: auto;
}
.amChartsDataSetSelector
{
    font-size:12px;
    font-family:verdana,helvetica,arial,sans-serif;
}

.amChartsPeriodSelector
{
	display:none;
    font-size:12px;
    font-family:verdana,helvetica,arial,sans-serif;
    margin-bottom:-8px !important;
}

.amChartsButtonSelected
{
   background-color:#CC0000;
   border-style:solid;
   border-color:#CC0000;
   border-width:1px;
   color:#FFFFFF;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin: 1px;
   outline: none;
   box-sizing: border-box;
}

.amChartsButton
{
   color: #000000;
   background: transparent;
   opacity: 0.7;
   border: 1px solid rgba(0, 0, 0, .3);
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin: 1px;
   outline: none;
   box-sizing: border-box;
}

.amChartsCompareList
{
   border-style:solid;
   border-color:#CCCCCC;
   border-width:1px;
}

.amChartsCompareList div
{
   -webkit-box-sizing: initial;
   box-sizing: initial;
}
.chart_area {
	padding-top:12px;
}
/*
 * This is the styling for Ti navigation bar
 */
.TiChartNavBar {
	/*height:31px;
	width:97%; 
	margin-left:auto;
	margin-right:auto;*/
	margin-left:1.5%;
}
.TiScrollBar {
	margin-bottom: -3px;
	margin-left: -1px;
	cursor: pointer; 
	cursor: hand; 
	background-color:#ffffff;
}
.TiScrollBar tr td {
    border: 1px solid #d4d4d4;
	text-align:center;	
	width:30px; 
	height:30px; 
	vertical-align: middle;
	padding-left:5px;
	padding-right:5px;
}
.TiZoomBar {
	margin-bottom: -2px;
	margin-right: -1px;
	float: right; 
	width: 100px;
	background-color:#ffffff;
}
.TiZoomBar tr td {
	text-align:center;
}
.nav_backward {
	width:31px; 
	height:31px; 
	vertical-align: middle;	
}
.TiZoomBarOptions tr td{
	border: 1px solid #d4d4d4;
	background:#ffffff;
	width:96px;
	height:34px;
	cursor: pointer; 
	cursor: hand;
}
.TiZoomBarOptions td:hover{
	background:#5f6f81;
	color:#ffffff;
}
.searchTD{
	border: 1px solid #d4d4d4; 
	width:31px; 
	height:31px; 
	vertical-align: middle; 
	cursor: pointer;
	cursor: hand;
}
.PeriodSelected{
	border: 1px solid #d4d4d4; 
	cursor:default;
	color:#5f6f81; 
}
.trZoomBarOptions{
	position:absolute; 
	z-index:2;
	margin-top:-2px;
}
.ti-scrollbar-chart-div{
	width:100%;
	padding: 10px; 
	border: 1px solid rgb(216, 216, 216); 
	border-radius: 3px; 
	margin-left:-10px; 
	background-color:#ffffff;
}
.amChartsPanel {
	padding: 10px !important; 
	border: 1px solid rgb(216, 216, 216) !important;
	border-radius: 3px !important; 
	margin-top: 10px !important; 
	background-color: rgb(255, 255, 255) !important;
	margin-left:-10px !important;
}

