.menu_drop {	
	width:64px;
    float: right;
	height: 100%;  
}
.main_menu {
    float: right;
	top:0px;
    right:0px;
	position:fixed;
	z-index:2;	
}
.main_menu tr td {
    border:1px solid #c6d0da;	
	text-align:center;
}
.add, .charts, .menu {
	width:50px; 
	padding:8px;
	font-size:130%;	
}
#menu_strategy_name {
	border: none; 
	text-align: right;
	position: static; 
	zoom: 1;
	background-color:#E5E5E5;
}
.tr_menu_static{
	height:66px;
	background: #ffffff;
}
.slider_td{
	vertical-align: bottom;
	z-index: 2;
	position: absolute;
	display:block;		
}
.strategyNameMenu label {
	font-size:20px; 
	color:#5f6f81; 
	padding-right:7px; 
}
.strategy_menu {	
	float:right;
	width:289px;
	border-top:1px solid #c6d0da;
	border-left:1px solid #c6d0da;
	padding:4px;
	position:fixed;
	top:69px;
	right:68px;
	background:#ffffff;	
	z-index:5;
	margin-top:-2px;
}
.chart_menu{	
	float:right;
	width:289px;
	border-top:1px solid #c6d0da;
	border-left:1px solid #c6d0da;
	padding:4px;
	position:fixed;
	top:69px;
	right:68px;
	background:#ffffff;	
	z-index:5;	
	margin-top:-2px;
}
.studies_menu{	
	float:right;
	width:289px;
	border-top:1px solid #c6d0da;
	border-left:1px solid #c6d0da;
	padding:4px;
	position:fixed;
	top:69px;
	right:68px;
	background:#ffffff;	
	z-index:5;	
	margin-top:-2px;
	overflow-x: hidden;
}
.addStudiesMenu{	
	float:right;
	width:289px;
	border-top:1px solid #c6d0da;
	border-left:1px solid #c6d0da;
	padding:4px;
	position:fixed;
	top:69px;
	right:68px;
	background:#ffffff;	
	z-index:5;
	margin-top:-2px;	
}
.setuparea_menu{	
	float:right;
	width:289px;
	border-top:1px solid #c6d0da;
	border-left:1px solid #c6d0da;
	padding:4px;
	position:fixed;
	top:69px;
	right:68px;
	background:#ffffff;	
	z-index:5;	
	margin-top:-2px;
}
.strategy_menu_title, .strategy_menu_btn, .chart_menu_title, .chart_menu_btn, .studies_menu_title, .studies_menu_btn, .setuparea_menu_title, .add_studies_menu_btn {
	width:100%;
}
.strategy_menu_btn, .chart_menu_btn, .studies_menu_btn, .add_studies_menu_btn {
	margin-top:10px;	
}
.strategy_menu_detail, .chart_menu_detail, .studies_menu_detail, .setuparea_menu_detail {
	margin-left:18px;
}
.studies_menu_detail_name p{
	width: 210px;
    word-wrap: break-word;
    font-size: 16px;
}
.date_range {
	font: italic 12px Helvetica !important;
	display:inline;	
}
#chart_area {
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height:100%;
	 z-index: -1;
}
#page {
	 position: absolute;
	 top: 65px; 
}
#main {
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height:91%;
}
.strat_name {
	 border:none;
	 text-align:left;
	 font: italic 12px Helvetica !important;
}
#submit_chart_analysis{
	 width:100%;
	 z-index: -1;
}
.charts, .add, .menu, .menu_cog, .menu_exit, .menu_strategy_image, .menu_chart_image, .menu_studies_image, .menu_entryarea_image {
	cursor: pointer; 
	cursor: hand; 
}
.analysisMenu, .criteriaMenu{
	width: 64px;
}
.analysisStaticMenu, .criteriaStaticMenu{
	height:110px;
	width :100%;
}
.add_study_details {
	margin-top: 10px !important;
}
.add_study_details input{
	margin-top:0px !important;
}
.setuparea_menu_detail input{
	margin-top: 0px !important;
	margin-bottom: 9px;
	width:224px;
}
.setuparea_menu_detail img{
	margin-left: 4px;
	cursor: pointer; 
	cursor: hand; 	
}
.setupAreaEntryDetail, .setupAreaExitDetail, .setupAreaStopLossDetail{
	margin-left: 18px;
}
.setupAreaEntryDetail img{
	margin-left: 9px;
	cursor: pointer; 
	cursor: hand; 	
	padding-top: 12px;
}
.setupAreaExitDetail img{
	margin-left: 9px;
	cursor: pointer; 
	cursor: hand; 	
	padding-top: 12px;
}
.setupAreaStopLossDetail img{
	margin-left: 9px;
	cursor: pointer; 
	cursor: hand; 	
	padding-top: 12px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
.EntryExitActive{
	width:66px;
	color:#ffffff; 
	background:#5f6f81;
	cursor: pointer; 
	cursor: hand; 
}
.EntryExitUnActive{
	width:66px;
	color:#5f6f81;
	cursor: pointer; 
	cursor: hand; 
}
.showStratStepsMenu {
	position: fixed; 
	background: #5f6f81; 
	left: 50%; 
	color:#ffffff;
	transform: translate(-50%,0); 
	bottom:0px;
	padding:5px;
	cursor: pointer; 
	cursor: hand; 
}
.StratStepsMenu {
	position: fixed; 
	background: #F0F0F0;
	width:100%; 
	height:300px;
	left: 50%; 
	transform: translate(-50%,0); 
	bottom:29px;
}
a:focus {
  outline: none !important;
}
