.menu_drop {	
	width:64px;
    float: right;
	height: 100%;  
}
.main_menu {
    float: right;
	top:0px;
    right:0px;
	height:10%;
	position:fixed;
	z-index:2;	
}
.main_menu tr td {
    border:1px solid #c6d0da;	
	text-align:center;
}
.add, .charts, .menu{
	width:50px; 
	padding:8px;
	font-size:130%;	
}
#menu_strategy_name{
	border: none; 
	text-align: left;
	position: static; 
	zoom: 1;
	background-color:#E5E5E5;
}
.tr_menu_static{
	height:66px;
	background: #ffffff;
}
#submit_criteria{
	width:100%;
	z-index: 3;
	position:absolute;
	bottom:0;
}
#chart_area {
	top: 63px;
	z-index: -1;
	display: -webkit-flex; /* Safari */
    display: flex;
	position:absolute;
	right:0;
	width:70%;
	padding-top: 0px;
}

/*Panel styling*/
.sidepanel {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
	width:30%;
	position:absolute;
	top:74px;
	left:0;
	background-color:#ffffff;
	border: 1px solid #c6d0da;

}
.layout{
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}
/*Conditions / Steps*/
.condition {
	width: 100%;
	margin-top: 1px;
	margin-bottom: 20px;
	border-top: 7px solid #1C75BC;
  	border-left: 1px solid #1C75BC;
  	border-bottom: 1px solid #1C75BC;
  	border-right: 1px solid #1C75BC;
}
.conditionColumn {
	width: 390px;
}
.ANYconditionColumn {
	padding-top:5px;
	width: 390px;
}
.conditionElements {
	padding-top: 5px;
	padding-left: 5px;
}
.treeColumn {	
	height:100%;
	display:inline-block;
}
.conditionTreeTop{
	height: 10px;
	width:10px;
	border-left: 5px solid #009444;
	border-bottom: 5px solid #009444;
	margin-left: 15px;
	margin-bottom: -2px;
}
.conditionTreeBottom{
	height: 90%;
	width:10px;
	border-left: 5px solid #009444;
	margin-left: 15px;
	margin-bottom: -2px;
}
.ANYconditionTreeTop{
	height: 10px;
	width:10px;
	border-left: 5px solid #1C75BC;
	border-bottom: 5px solid #1C75BC;
	margin-left: 3px;
	margin-bottom: -2px;
}
.ANYconditionTreeBottom{
	height: 82%;
	width:10px;
	border-left: 5px solid #1C75BC;
	margin-left: 3px;
	margin-bottom: -2px;
}
.addConditionTreeTop{
	height: 13px;
	width:10px;
	border-left: 5px solid #BDBDBD;
	border-bottom: 5px solid #BDBDBD;
	margin-left: 15px;
	margin-bottom: -2px;
}
.addConditionTreeBottom{
	height: 13px;
	max-width:15px;
	margin-left: 15px;
	margin-bottom: -2px;
}
.ANYaddConditionTreeTop{
	height: 13px;
	width:10px;
	border-left: 5px solid #BDBDBD;
	border-bottom: 5px solid #BDBDBD;
	margin-left: 3px;
	margin-bottom: -2px;
}
.ANYaddConditionTreeBottom{
	height: 13px;
	max-width:15px;
	margin-left: 3px;
	margin-bottom: -2px;
}
.addConditionLink {
	padding-top: 4px;
}
.addConditionLink a{
	color: #BDBDBD;
}
.timeframeColumn {
	background-color: #662D91;
	color: #ffffff;
	border: 1px solid #ffffff;
    text-align: center;
	padding-left: 1%;
	padding-right: 1%;
	width:50px;
	font-size: 16px;
	white-space:nowrap;
}
.StudyValueColumn {
	background-color: #009444;
	color: #ffffff;
	border: 1px solid #ffffff;
    text-align: center;
	padding:2px;
	font-size: 16px;
	white-space:nowrap;
}
.OperatorColumn {
	background-color: #F7941E;
	color: #ffffff;
	border: 1px solid #ffffff;
    text-align: center;
	padding:2px;
	font-size: 16px;
	white-space:nowrap;
}
.ComparatorColumn {
	background-color: #1C75BC;
	color: #ffffff;
	border: 1px solid #ffffff;
    text-align: center;
	font-size: 16px;
	white-space:nowrap;
	padding:2px;
}
.editCriteriaCondition {
	width:20px;
}
.deleteCriteriaCondition {
	width:20px;
}
.conditionDash {
	border-bottom: 5px solid #009444;
}
.ANYconditionDash {
	border-bottom: 5px solid #1C75BC;
}
.conditionDashColumn {
	width:10px;
}
all {
	color: #009444;
}
allbld {
	font-weight: 900;
    color: #009444;
}
any {
	color: #1C75BC;
}
anybld {
	font-weight: 900;
    color: #1C75BC;
}
