#header {
    background: url("../images/header/logo.png") no-repeat +97%;
	padding-top: 2%;
    padding-bottom: 2%;
	background-color:#000000;
	
}
#content{
	padding:5px;
    margin:0px;
    width:99%;
    height:90%;
}

div.acc_class
{
	height:45px;
    position:relative;
	z-index:1;
}

