.menu_drop {	
	width:64px;
    float: right;
	height: 100%;  
}
.main_menu {
    float: right;
	top:0px;
    right:0px;
	height:10%;
	position:fixed;
	z-index:2;	
}
.main_menu tr td {
    border:1px solid #c6d0da;	
	text-align:center;
}
.menu{
	width:50px; 
	padding:8px;
	font-size:130%;	
}
#logo{
	border: none; 
	text-align: left;
	position: static; 
	zoom: 1;
	background-color:#E5E5E5;
}
.tr_menu_static{
	height:66px;
	background: #ffffff;
}
.slider_td{
	vertical-align: bottom;
	z-index: 2;
	position: absolute;
	display:block;		
}
