body{
	background-color:#E5E5E5 !important;
}
.content{
	margin-top: 9px;

}
#header {	   
	height: 43px;	
}
.menu_cog:hover, .menu_exit:hover {	
	background: #5f6f81;
}
.SubmitBtn {
	background:#5f6f81;
	color:#ffffff;	
    font-size: 16px;
    border: none;
	width:63px;
}