/*!
 * jQuery UI CSS Framework 1.11.2
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/category/theming/
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */


/* Component containers
----------------------------------*/
.uiLightness .ui-widget {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.uiLightness .ui-widget .ui-widget {
	font-size: 1em;
}
.uiLightness .ui-widget input,
.uiLightness .ui-widget select,
.uiLightness .ui-widget textarea,
.uiLightness .ui-widget button {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;
}
.uiLightness .ui-widget-content {
	border: 1px solid #dddddd;
	background: #eeeeee url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;
	color: #333333;
}
.uiLightness .ui-widget-content a {
	color: #333333;
}
.uiLightness .ui-widget-header {
	border: 1px solid #e78f08;
	background: #f6a828 url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}
.uiLightness .ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
.uiLightness .ui-state-default,
.uiLightness .ui-widget-content .ui-state-default,
.uiLightness .ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #f6f6f6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #1c94c4;
}
.uiLightness .ui-state-default a,
.uiLightness .ui-state-default a:link,
.uiLightness .ui-state-default a:visited {
	color: #1c94c4;
	text-decoration: none;
}
.uiLightness .ui-state-hover,
.uiLightness .ui-widget-content .ui-state-hover,
.uiLightness .ui-widget-header .ui-state-hover,
.uiLightness .ui-state-focus,
.uiLightness .ui-widget-content .ui-state-focus,
.uiLightness .ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #c77405;
}
.uiLightness .ui-state-hover a,
.uiLightness .ui-state-hover a:hover,
.uiLightness .ui-state-hover a:link,
.uiLightness .ui-state-hover a:visited,
.uiLightness .ui-state-focus a,
.uiLightness .ui-state-focus a:hover,
.uiLightness .ui-state-focus a:link,
.uiLightness .ui-state-focus a:visited {
	color: #c77405;
	text-decoration: none;
}
.uiLightness .ui-state-active,
.uiLightness .ui-widget-content .ui-state-active,
.uiLightness .ui-widget-header .ui-state-active {
	border: 1px solid #fbd850;
	background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #eb8f00;
}
.uiLightness .ui-state-active a,
.uiLightness .ui-state-active a:link,
.uiLightness .ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.uiLightness .ui-state-highlight,
.uiLightness .ui-widget-content .ui-state-highlight,
.uiLightness .ui-widget-header .ui-state-highlight {
	border: 1px solid #fed22f;
	background: #ffe45c url("images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;
	color: #363636;
}
.uiLightness .ui-state-highlight a,
.uiLightness .ui-widget-content .ui-state-highlight a,
.uiLightness .ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.uiLightness .ui-state-error,
.uiLightness .ui-widget-content .ui-state-error,
.uiLightness .ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900 url("images/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat;
	color: #ffffff;
}
.uiLightness .ui-state-error a,
.uiLightness .ui-widget-content .ui-state-error a,
.uiLightness .ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.uiLightness .ui-state-error-text,
.uiLightness .ui-widget-content .ui-state-error-text,
.uiLightness .ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.uiLightness .ui-priority-primary,
.uiLightness .ui-widget-content .ui-priority-primary,
.uiLightness .ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.uiLightness .ui-priority-secondary,
.uiLightness .ui-widget-content .ui-priority-secondary,
.uiLightness .ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.uiLightness .ui-state-disabled,
.uiLightness .ui-widget-content .ui-state-disabled,
.uiLightness .ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.uiLightness .ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.uiLightness .ui-icon {
	width: 16px;
	height: 16px;
}
.uiLightness .ui-icon,
.uiLightness .ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.uiLightness .ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}
.uiLightness .ui-state-default .ui-icon {
	background-image: url("images/ui-icons_ef8c08_256x240.png");
}
.uiLightness .ui-state-hover .ui-icon,
.uiLightness .ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_ef8c08_256x240.png");
}
.uiLightness .ui-state-active .ui-icon {
	background-image: url("images/ui-icons_ef8c08_256x240.png");
}
.uiLightness .ui-state-highlight .ui-icon {
	background-image: url("images/ui-icons_228ef1_256x240.png");
}
.uiLightness .ui-state-error .ui-icon,
.uiLightness .ui-state-error-text .ui-icon {
	background-image: url("images/ui-icons_ffd27a_256x240.png");
}

/* positioning */
.uiLightness .ui-icon-blank { background-position: 16px 16px; }
.uiLightness .ui-icon-carat-1-n { background-position: 0 0; }
.uiLightness .ui-icon-carat-1-ne { background-position: -16px 0; }
.uiLightness .ui-icon-carat-1-e { background-position: -32px 0; }
.uiLightness .ui-icon-carat-1-se { background-position: -48px 0; }
.uiLightness .ui-icon-carat-1-s { background-position: -64px 0; }
.uiLightness .ui-icon-carat-1-sw { background-position: -80px 0; }
.uiLightness .ui-icon-carat-1-w { background-position: -96px 0; }
.uiLightness .ui-icon-carat-1-nw { background-position: -112px 0; }
.uiLightness .ui-icon-carat-2-n-s { background-position: -128px 0; }
.uiLightness .ui-icon-carat-2-e-w { background-position: -144px 0; }
.uiLightness .ui-icon-triangle-1-n { background-position: 0 -16px; }
.uiLightness .ui-icon-triangle-1-ne { background-position: -16px -16px; }
.uiLightness .ui-icon-triangle-1-e { background-position: -32px -16px; }
.uiLightness .ui-icon-triangle-1-se { background-position: -48px -16px; }
.uiLightness .ui-icon-triangle-1-s { background-position: -64px -16px; }
.uiLightness .ui-icon-triangle-1-sw { background-position: -80px -16px; }
.uiLightness .ui-icon-triangle-1-w { background-position: -96px -16px; }
.uiLightness .ui-icon-triangle-1-nw { background-position: -112px -16px; }
.uiLightness .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.uiLightness .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.uiLightness .ui-icon-arrow-1-n { background-position: 0 -32px; }
.uiLightness .ui-icon-arrow-1-ne { background-position: -16px -32px; }
.uiLightness .ui-icon-arrow-1-e { background-position: -32px -32px; }
.uiLightness .ui-icon-arrow-1-se { background-position: -48px -32px; }
.uiLightness .ui-icon-arrow-1-s { background-position: -64px -32px; }
.uiLightness .ui-icon-arrow-1-sw { background-position: -80px -32px; }
.uiLightness .ui-icon-arrow-1-w { background-position: -96px -32px; }
.uiLightness .ui-icon-arrow-1-nw { background-position: -112px -32px; }
.uiLightness .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.uiLightness .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.uiLightness .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.uiLightness .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.uiLightness .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.uiLightness .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.uiLightness .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.uiLightness .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.uiLightness .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.uiLightness .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.uiLightness .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.uiLightness .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.uiLightness .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.uiLightness .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.uiLightness .ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.uiLightness .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.uiLightness .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.uiLightness .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.uiLightness .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.uiLightness .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.uiLightness .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.uiLightness .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.uiLightness .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.uiLightness .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.uiLightness .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.uiLightness .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.uiLightness .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.uiLightness .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.uiLightness .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.uiLightness .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.uiLightness .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.uiLightness .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.uiLightness .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.uiLightness .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.uiLightness .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.uiLightness .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.uiLightness .ui-icon-arrow-4 { background-position: 0 -80px; }
.uiLightness .ui-icon-arrow-4-diag { background-position: -16px -80px; }
.uiLightness .ui-icon-extlink { background-position: -32px -80px; }
.uiLightness .ui-icon-newwin { background-position: -48px -80px; }
.uiLightness .ui-icon-refresh { background-position: -64px -80px; }
.uiLightness .ui-icon-shuffle { background-position: -80px -80px; }
.uiLightness .ui-icon-transfer-e-w { background-position: -96px -80px; }
.uiLightness .ui-icon-transferthick-e-w { background-position: -112px -80px; }
.uiLightness .ui-icon-folder-collapsed { background-position: 0 -96px; }
.uiLightness .ui-icon-folder-open { background-position: -16px -96px; }
.uiLightness .ui-icon-document { background-position: -32px -96px; }
.uiLightness .ui-icon-document-b { background-position: -48px -96px; }
.uiLightness .ui-icon-note { background-position: -64px -96px; }
.uiLightness .ui-icon-mail-closed { background-position: -80px -96px; }
.uiLightness .ui-icon-mail-open { background-position: -96px -96px; }
.uiLightness .ui-icon-suitcase { background-position: -112px -96px; }
.uiLightness .ui-icon-comment { background-position: -128px -96px; }
.uiLightness .ui-icon-person { background-position: -144px -96px; }
.uiLightness .ui-icon-print { background-position: -160px -96px; }
.uiLightness .ui-icon-trash { background-position: -176px -96px; }
.uiLightness .ui-icon-locked { background-position: -192px -96px; }
.uiLightness .ui-icon-unlocked { background-position: -208px -96px; }
.uiLightness .ui-icon-bookmark { background-position: -224px -96px; }
.uiLightness .ui-icon-tag { background-position: -240px -96px; }
.uiLightness .ui-icon-home { background-position: 0 -112px; }
.uiLightness .ui-icon-flag { background-position: -16px -112px; }
.uiLightness .ui-icon-calendar { background-position: -32px -112px; }
.uiLightness .ui-icon-cart { background-position: -48px -112px; }
.uiLightness .ui-icon-pencil { background-position: -64px -112px; }
.uiLightness .ui-icon-clock { background-position: -80px -112px; }
.uiLightness .ui-icon-disk { background-position: -96px -112px; }
.uiLightness .ui-icon-calculator { background-position: -112px -112px; }
.uiLightness .ui-icon-zoomin { background-position: -128px -112px; }
.uiLightness .ui-icon-zoomout { background-position: -144px -112px; }
.uiLightness .ui-icon-search { background-position: -160px -112px; }
.uiLightness .ui-icon-wrench { background-position: -176px -112px; }
.uiLightness .ui-icon-gear { background-position: -192px -112px; }
.uiLightness .ui-icon-heart { background-position: -208px -112px; }
.uiLightness .ui-icon-star { background-position: -224px -112px; }
.uiLightness .ui-icon-link { background-position: -240px -112px; }
.uiLightness .ui-icon-cancel { background-position: 0 -128px; }
.uiLightness .ui-icon-plus { background-position: -16px -128px; }
.uiLightness .ui-icon-plusthick { background-position: -32px -128px; }
.uiLightness .ui-icon-minus { background-position: -48px -128px; }
.uiLightness .ui-icon-minusthick { background-position: -64px -128px; }
.uiLightness .ui-icon-close { background-position: -80px -128px; }
.uiLightness .ui-icon-closethick { background-position: -96px -128px; }
.uiLightness .ui-icon-key { background-position: -112px -128px; }
.uiLightness .ui-icon-lightbulb { background-position: -128px -128px; }
.uiLightness .ui-icon-scissors { background-position: -144px -128px; }
.uiLightness .ui-icon-clipboard { background-position: -160px -128px; }
.uiLightness .ui-icon-copy { background-position: -176px -128px; }
.uiLightness .ui-icon-contact { background-position: -192px -128px; }
.uiLightness .ui-icon-image { background-position: -208px -128px; }
.uiLightness .ui-icon-video { background-position: -224px -128px; }
.uiLightness .ui-icon-script { background-position: -240px -128px; }
.uiLightness .ui-icon-alert { background-position: 0 -144px; }
.uiLightness .ui-icon-info { background-position: -16px -144px; }
.uiLightness .ui-icon-notice { background-position: -32px -144px; }
.uiLightness .ui-icon-help { background-position: -48px -144px; }
.uiLightness .ui-icon-check { background-position: -64px -144px; }
.uiLightness .ui-icon-bullet { background-position: -80px -144px; }
.uiLightness .ui-icon-radio-on { background-position: -96px -144px; }
.uiLightness .ui-icon-radio-off { background-position: -112px -144px; }
.uiLightness .ui-icon-pin-w { background-position: -128px -144px; }
.uiLightness .ui-icon-pin-s { background-position: -144px -144px; }
.uiLightness .ui-icon-play { background-position: 0 -160px; }
.uiLightness .ui-icon-pause { background-position: -16px -160px; }
.uiLightness .ui-icon-seek-next { background-position: -32px -160px; }
.uiLightness .ui-icon-seek-prev { background-position: -48px -160px; }
.uiLightness .ui-icon-seek-end { background-position: -64px -160px; }
.uiLightness .ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.uiLightness .ui-icon-seek-first { background-position: -80px -160px; }
.uiLightness .ui-icon-stop { background-position: -96px -160px; }
.uiLightness .ui-icon-eject { background-position: -112px -160px; }
.uiLightness .ui-icon-volume-off { background-position: -128px -160px; }
.uiLightness .ui-icon-volume-on { background-position: -144px -160px; }
.uiLightness .ui-icon-power { background-position: 0 -176px; }
.uiLightness .ui-icon-signal-diag { background-position: -16px -176px; }
.uiLightness .ui-icon-signal { background-position: -32px -176px; }
.uiLightness .ui-icon-battery-0 { background-position: -48px -176px; }
.uiLightness .ui-icon-battery-1 { background-position: -64px -176px; }
.uiLightness .ui-icon-battery-2 { background-position: -80px -176px; }
.uiLightness .ui-icon-battery-3 { background-position: -96px -176px; }
.uiLightness .ui-icon-circle-plus { background-position: 0 -192px; }
.uiLightness .ui-icon-circle-minus { background-position: -16px -192px; }
.uiLightness .ui-icon-circle-close { background-position: -32px -192px; }
.uiLightness .ui-icon-circle-triangle-e { background-position: -48px -192px; }
.uiLightness .ui-icon-circle-triangle-s { background-position: -64px -192px; }
.uiLightness .ui-icon-circle-triangle-w { background-position: -80px -192px; }
.uiLightness .ui-icon-circle-triangle-n { background-position: -96px -192px; }
.uiLightness .ui-icon-circle-arrow-e { background-position: -112px -192px; }
.uiLightness .ui-icon-circle-arrow-s { background-position: -128px -192px; }
.uiLightness .ui-icon-circle-arrow-w { background-position: -144px -192px; }
.uiLightness .ui-icon-circle-arrow-n { background-position: -160px -192px; }
.uiLightness .ui-icon-circle-zoomin { background-position: -176px -192px; }
.uiLightness .ui-icon-circle-zoomout { background-position: -192px -192px; }
.uiLightness .ui-icon-circle-check { background-position: -208px -192px; }
.uiLightness .ui-icon-circlesmall-plus { background-position: 0 -208px; }
.uiLightness .ui-icon-circlesmall-minus { background-position: -16px -208px; }
.uiLightness .ui-icon-circlesmall-close { background-position: -32px -208px; }
.uiLightness .ui-icon-squaresmall-plus { background-position: -48px -208px; }
.uiLightness .ui-icon-squaresmall-minus { background-position: -64px -208px; }
.uiLightness .ui-icon-squaresmall-close { background-position: -80px -208px; }
.uiLightness .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.uiLightness .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.uiLightness .ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.uiLightness .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.uiLightness .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.uiLightness .ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.uiLightness .ui-corner-all,
.uiLightness .ui-corner-top,
.uiLightness .ui-corner-left,
.uiLightness .ui-corner-tl {
	border-top-left-radius: 4px;
}
.uiLightness .ui-corner-all,
.uiLightness .ui-corner-top,
.uiLightness .ui-corner-right,
.uiLightness .ui-corner-tr {
	border-top-right-radius: 4px;
}
.uiLightness .ui-corner-all,
.uiLightness .ui-corner-bottom,
.uiLightness .ui-corner-left,
.uiLightness .ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.uiLightness .ui-corner-all,
.uiLightness .ui-corner-bottom,
.uiLightness .ui-corner-right,
.uiLightness .ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.uiLightness .ui-widget-overlay {
	background: #666666 url("images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
	opacity: .5;
	filter: Alpha(Opacity=50); /* support: IE8 */
}
.uiLightness .ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url("images/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;
	opacity: .2;
	filter: Alpha(Opacity=20); /* support: IE8 */
	border-radius: 5px;
}
