
/* -------------------- Labels --------------------  */

.nolabel {
	font-weight: normal;
	white-space: nowrap;
}

.optional {
	font-weight: normal;
	white-space: nowrap;
}

.optional-w-help {
	cursor: help;
	font-weight: normal;
	white-space: nowrap;
}

a.optional-w-help {
	text-decoration: underline;
}

.required {
	font-weight: normal;
	white-space: nowrap;
}

.required-w-help {
	cursor: help;
        font-weight: normal;
	white-space: nowrap;
}

a.required-w-help {
	text-decoration: underline;
}

/* -------------------- Rounded Corner Region -------------------- */

.rounded-corner-region a {
        text-decoration: none;
        color: #000000;
}
